<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
        <h2>Add a new course</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/courses/new" method="POST">
            {% csrf_token %}
            <p>Name: </p>
            <input type="text" name="c_name" value="{{request.session.name}}">
            <p>Description: </p>
            <textarea id="desc" name="c_desc">{{request.session.description}}</textarea><br>
            <input type="submit" value="Add"><br>
            <a href="/reset">Reset form</a>
        </form>
        <h2>Courses</h2>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.created_at}}</td>
                <td><a href="/courses/{{course.id}}/confirm">remove</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>